
/*#region Resets*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #DDDDDD;
    &:hover{
        cursor:url("./src/cursor.cur"),default;
    }
}

/*#endregion Resets*/

/*#region mixins*/

@mixin centerCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin sectionStyles{
    width:80vw;
    height: 80vh;
    background-color: #222831;
    border-radius: 10px;
}
@mixin navElements{
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 40%;
    border-radius: 5px;
    i{
        color: #222831;
    }
};
@mixin HeadingStyles{
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

@mixin ContentStyles {
    width: 80vw;
    height: 50vh;
    display: flex;
    align-items: center;
}

/*#endregion mixins*/

//============================================//

/*#region B*/

body{
    background-image: url('./src/BGland.jpg');
    background-size: cover;
}

.bitMoji{
    border-radius: 50%;
    width: auto;
    height: 20vh;
    margin-left: 1%;
    margin-top: 0;
    border: 3px solid #F05454;
}

.bioTxtHolder{
    width: 60%;
    height: 100%;
    text-align: center;
}

.bioTxt{
    margin: 5vh;
    font-size: 1.5vw;
}
/*#endregion B*/

/*#region C*/
.carouselHolder{
    width: 80vw;
    height: 60vh;
    margin-top: 2.5vh;
}

.contactDetailsBox{
    width: 40%;
    height: 100%;
    @include centerCont();
    // padding-top: 15vh;
    // padding-left: 2vw;
    // display: flex;
    // flex-direction: column;
}

.contactIcons{
    margin-bottom: 2vh;
    font-size: 5rem;
}

.contactTxt{
    margin-bottom: 5vh;
    font-size: 2vw;
}

.carPicHolder{
    @include centerCont();
}


.carouselImage{
    top: 0;
    width: 50%;
    height: 100%;
}

.contactForm{
    margin-top: 15vh;
    margin-left: 1vw;
    height: auto;
    width: 100%;
    font-size: 2vh;
}

.const{
    width: 100%;
}


/*#endregion C*/

/*#region D*/

.d-block{
    height: 60vh;
}

/*#endregion D*/

/*#region F*/

footer{
    width: 90vw;
    height: 5vh;
    background-color: #DDDDDD;
    position: fixed;
    bottom: 1vh;
    left: 5vw;
    border-radius: 5px;
    
    @include centerCont();

    .footerText{
        color: #222831;
        font-size: 1rem;
        margin: auto;
        
    }
}

.firstTitle{
    position: relative;
    top: 3%;
}

.firstHeader{
    @include HeadingStyles();
    i{
        margin-left: 1vh;
        font-size: 9vh;
    }
    h1{
        margin-left: 7vh;
        font-size: 4vh;
        margin-top: 2vh;
        color: #DDDDDD;
    }
}

.firstContent{
    @include ContentStyles();
    //background-color: aqua;
}
.first{
    @include sectionStyles();
    font-size: 1vh;
    i{
        color: #DDDDDD;
        position: relative;
        left: 2%;
        top: 2%;
    }
}

.formBox{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.fa-envelope-open-text{
    margin-top: 15vh;
}



/*#endregion F*/

/*#region G*/

.gridItem{
    @include centerCont();
    
}

/*#endregion G*/

/*#region H*/

.HlogoPic{
    width: 10vw;
    height: 20vh;
}

.HsecondaryPics{
    width: auto;
    height:10vh;
}

.holder{
    width:50vw;
    height:50vh;
    background-color: #30475E;
    @include centerCont();
    border-radius: 1vw;
    border: 5px solid #F05454;
}

hr{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/*#endregion h*/

/*#region I*/

.IconBox{
    width: 100%;
    //height:1vh;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

/*#endregion I*/

/*#region L*/

.ListBox{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*#endregion L*/

/*#region M*/

main{
    height: 100vh;
    overflow: hidden;
}

/*#endregion M*/

/*#region N*/

.navCont{
    height: 80%;
    width: 80%;
    display: block;
}

.navs{
    color: black;
    font-size: 2vw;
}

.nodeJspic{
    background-color: #DDDDDD;
    border-radius: 50%
}
/*#endregion N*/

/*#region O*/

.one{
    @include navElements();
    @include centerCont();
    font-size: 2vh;  
    &:hover{
        background-color: #222831;
        i{
            color: #DDDDDD;
        }
    }
}

/*#endregion O*/

/*#region S*/

section{
    height:100vh;
    position: relative;
}

section:nth-child(1){
    @include centerCont;
}

section:nth-child(2){
    @include centerCont;
}

section:nth-child(3){
    @include centerCont;
}

.second{
    @include sectionStyles();
    
}

.sideNav{
    top: 5vh;
    left: 1vw;
    height: 20vh;
    width: 3vw;
    background-color: #DDDDDD;
    position:fixed;
    border-radius: 30px;
    opacity: 0.8;
    z-index: 2;
    @include centerCont();
}

.secondHeader{
    @include HeadingStyles();
    i{
        margin-left: 1vh;
        font-size: 9vh;
    }
    h1{
        margin-left: 3vh;
        font-size: 4vh;
        color: #DDDDDD;
    }
}

.secondContent{
    @include ContentStyles();
}

.submitBtn{
    background-color: #F05454;
    width: 8vw;
    height: 5vh;
    font-size: 2vh;
    color: #222831;
    margin-top: 1vh;
    border: 1px solid #30475E;
    border-radius: 8px;
}

/*#endregion S*/

/*#region T*/

.third{
    @include sectionStyles();
    i{
        color: #DDDDDD;
        position: relative;
        opacity: 2;
        left: 2%;
        top: 2%;
    }
}

.test{
    position: static;
    color: black;
}

.two{
    @include navElements();
    @include centerCont();
    font-size: 1.5vh;  
    &:hover{
        background-color: #222831;
        i{
            color: #DDDDDD;
        }
    }
}

.three{
    @include navElements();
    @include centerCont();
    font-size: 1vh;
    &:hover{
        background-color: #222831;
        i{
            color: #DDDDDD;
        }
    }
   
}

.thirdHeader{
    @include HeadingStyles();
    i{
        margin-left: 1vh;
        font-size: 9vh;
        margin-bottom: 1%;
    }
    h1{
        margin-left: 5vh;
        font-size: 4vh;
        margin-top: 1vh;
        color: #DDDDDD;
    }
}

.textInput{
    width: 100%;
    height: 5vh;
    border: 1px solid #30475E;
    border-radius: 8px;
    color: #222831;
}

.textLabel{
    font-size: 1.5vw;
    margin-top: 2vh;
}

.textAreaInput{
    width: 100%;
    border: 1px solid #30475E;
    border-radius: 8px;
    height: 25vh;
    color: #222831;
    resize:none;
    margin-top: 2vh;
}

.touchDetector{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #DDDDDD;
    opacity: 0.2;
    z-index: 1;
}

/*#endregion T*/

/*#region U*/

.underC{
    @include centerCont();
    margin-top: 20vh;
}
/*#endregion U*/

//============================================//

/*#region mediaQueries*/
@media (orientation: portrait) {
    .sideNav{
        visibility: hidden;
        display: none;
    } 
      
    .firstTitle{
        // margin-left: 7vh;
        // font-size: 5vh;
        // margin-top: 2vh;
        // color: #DDDDDD;
        // visibility: hidden;
        display: none;
    }

    .secondTitle{
        display: none;
    }

    .thirdTitle{
        display: none;
    }
    .bitMoji{
        border-radius: 50%;
        width: auto;
        height: 35vw;
        margin-left: 1%;
        margin-top: 0;
        border: 5px solid #F05454;
    }

    .bioTxtHolder{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 5vh;
    }

    .bioTxt{
        font-size: 3vh;
    }

    .HsecondaryPics{
        width: 5vh;
        height:10vw;
    }
    
    .carpc{
        width: 30vh;
        height: 60vw;
        margin-top: 10vh;
    }

    .contactForm{
        visibility: hidden;
        display: none;
    }
    .ListBox{
        display: none;
    }

    .firstTitle{
        display: none;
    }

    .contactTxt{
        font-size: 4vh; 
    }
    .contactDetailsBox{
        width: 100%;
        height: 100%;
        margin-top: 10vh;
    }
    .formBox{
        display: none;
    }

    .iconMain{
        margin-left: 100vh;
    }
    .firstHeader i{
        margin-left:8vh;
    }
    .secondHeader i{
        margin-left:7vh;
    }
    .thirdHeader i{
        margin-left:7vh;
    }
    main{
        height: 100vh;
        overflow-y: visible;
    }
}
/*#endregion mediaQueries*/

//============================================//

.imageHover{
    &:hover{
        cursor:pointer;
    }
}







